<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <div class="col-md-4 offset-md-4">
        <h2 class="pb-2 text-center border-bottom">Lista de Sedes</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{/sedes/crear}">Nueva Sedes</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert">
        </div>
        <table  class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre de la Sede</th>
                <th>Direccion de la Sede</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sede : ${lista}">
                <td th:text="${sede.id}"></td>
                <td th:text="${sede.nombreSede}"></td>
                <td th:text="${sede.direccion}"></td>
                <td><a class="btn btn-primary"
                       th:href="@{'/sedes/editar?id='+${sede.id}}">Editar</a></td>
                <td><a class="btn btn-danger"
                       th:href="@{'/sedes/borrar?id='+${sede.id}}">Borrar</a></td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>